<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uesr Signup</title>
</head>
<body>
    <h1>User Registration</h1>
    <form action="http://localhost:8000/OTS/save-user/" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>Username</td>
                <td><input type="text" name="username" id="" autocomplete="off"></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input type="password" name="password" id=""></td>
            </tr>
            <tr>
                <td>Real Name</td>
                <td><input type="text" name="realname" id=""></td>

            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Signup "></td>
            </tr>

        </table>
    </form>
    <p>{{ errmsg }}</p>
</body>
</html>