<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Paper</title>
</head>
<body>
    <h1>Online Test Paper</h1> 
    <form action="http://localhost:8000/OTS/test-result/" method="post">
        {% csrf_token %}
        {% for question in questions %}
        <div class="question">
            <input type="hidden" name="qno{{question.qno}}" value="{{question.qno}}">
            <div class="que">
                {{question.que}}
            </div>
            <div class="option"><input type="radio" name="q{{question.qno}}" value="a" id="">{{question.optiona}}</div>
            <div class="option"><input type="radio" name="q{{question.qno}}" value="b" id="">{{question.optionb}}</div>
            <div class="option"><input type="radio" name="q{{question.qno}}" value="c" id="">{{question.optionc}}</div>
            <div class="option"><input type="radio" name="q{{question.qno}}" value="d" id="">{{question.optiond}}</div>
        </div>
        {% endfor %}
        <div>
            <input type="submit" value="Submit">
        </div>
    </form>
    
</body>
</html>