<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Question</title>
</head>
<body>
    <div class="menu">
        {% if request.session.username == 'admin' %}
        <!--menu for admin-->
        <a href="http://localhost:8000/OTS/new-question/" >New</a>
        <a href="http://localhost:8000/OTS/view-question/" >View All</a>
        <a href="http://localhost:8000/OTS/logout/" >Logout</a>
        {% else %}

        <!--menu for Learner-->
        <a href="http://localhost:8000/OTS/start-test/" >Start Test</a>
        <a href="http://localhost:8000/OTS/logout/" >Logout</a>
        {% endif %}
    </div>
    <h1>View Question</h1>
    <table>
        <tr>
            <th>Ques no.</th>
            <th>Question</th>
            <th>Options a</th>
            <th>Options b</th>
            <th>Options C</th>
            <th>Options d</th>
            <th>Answer</th>
        </tr>
        {% for question in questions%}
        <tr>
            <td>{{question.qno}}</td>
            <td>{{question.que}}</td>
            <td>{{question.optiona}}</td>
            <td>{{question.optionb}}</td>
            <td>{{question.optionc}}</td>
            <td>{{question.optiond}}</td>
            <td>{{question.answer}}</td>
            <td><a href="http://localhost:8000/OTS/edit-question?qno={{question.qno}}">Edit</a></td>
            <td><a href="http://localhost:8000/OTS/delete-question?qno={{question.qno}}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>